html body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

#affdex_elements {
  display: none;
  position: absolute;
  top: calc(100vh - 240px);
  left: 0;
}

#affdex_elements canvas {
  display: none;
}
